/* styles.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #eee;
}

.header {
  text-align: center;
  background-color: #282828;
  padding: 20px;
}

.tagline {
  font-size: 1.2em;
  color: #00ffcc;
}

main {
  max-width: 800px;
  margin: 20px auto;
}

section {
  margin-bottom: 30px;
}

.games .game {
  background-color: #222;
  padding: 10px;
  border: 1px solid #444;
  margin-bottom: 10px;
}

button {
  background-color: #00ffcc;
  color: #121212;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #00cc99;
}